################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication1/CopilotIndices/18.4.105.37992
/.vs/ProjectEvaluation
/.vs/WebApplication1.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/WebApplication1.slnx/FileContentIndex
